.card img {
  transition: all 200ms;
}

.card:hover img {
  transform: scale(1.05);
  opacity: 1;
}

.card:hover h3 {
  opacity: 0.3;
}

@keyframes topToBottom {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  animation: topToBottom 1000ms;
}

@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

main {
  animation: bottomToTop 1000ms 500ms backwards;
}