@media (min-width: 600px) {
  #line-1 {
    grid-template-columns: 1fr 1fr;
  }

  #line-2 {
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: 771px) {
  #line-1 {
    grid-template-columns: 2fr 1fr;
  }

  #line-2 {
    grid-template-columns: 1fr 2fr;
  }
}